<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\styles.css">
</head>
<body>

<h1>User Details</h1>

<table>
    <tr>
        <th>ID</th>
        <td th:text="${user.id}"></td>
    </tr>
    <tr>
        <th>Username</th>
        <td th:text="${user.username}"></td>
    </tr>
    <tr>
        <th>Email</th>
        <td th:text="${user.email}"></td>
    </tr>
    <tr>
        <th>Role</th>
        <td th:text="${user.role}"></td>
    </tr>
    <tr>
        <th>Account Status</th>
        <td th:text="${user.accountStatus}"></td>
    </tr>
</table>

<a href="/api/users" class="btn btn-secondary">Back to Users</a>

</body>
</html>
